@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F0F0F0;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navHeader {
    flex: 1;
    text-align: right;
}

.navHeader ul {
    display: inline-block;
    list-style-type: none;
}

.navHeader ul li {
    display: inline-block;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.name h1 {
    display: inline-block;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

p {
    color: black;
}

.container {
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.separator {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;

    /* Used to set the position of text */
    position: relative;
}

.separator__content {
    background: #FFDB15;

    /* Displayed at the center of separator */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: 5px;

    padding: 0 0.25rem;

    width: 60%;
}

.separator__separator {
    border-bottom: 1px solid #FFDB15;
    height: 1px;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 50px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 32px;
    margin: 25px 0;
    color: rgb(0, 0, 0);
}

iframe{
    margin: 10%;
}

.avatar {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
}

.avatar__image {
    /* Rounded border */
    border-radius: 50%;

    /* Size */
    height: 50%;
    width: 50%;
}


.text_info {
    font-size: 40px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

.text_para {
    margin-top: 2rem;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.btn {
    display: inline-block;
    background: rgb(0, 0, 0);
    outline: 2px solid #000000;
    color: white;
    padding: 22px 29px;
    margin: 30px 0;
    border-radius: 9px;
}

.btn:hover {
    background: #FFDB15;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.btn::after {
    content: "\2192";
    margin-left: 3px;
    transition: 0.3s;
}

.btn:hover::after {
    margin-left: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 40px;
    line-height: 32px;
}

.menu ul li a {
    transition: 0.5s;
}

.menu ul li a:hover {
    color: #FFDB15;

}

.projet {
    padding-top: 9rem;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
}

.projet h1 {
    font-size: 30px;
    line-height: 32px;
    margin: 25px 0;
}

.separator__project {
    border-bottom: 1px solid #9d9b9b;
    height: 1px;
    width: 75%;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 15px;
}

.separator_language {
    border-bottom: 2px solid #FFDB15;
    height: 1px;
    width: 75%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

p {
    text-align: justify;
}

#logo_accrobrancherie {
    width: 30%;
    height: 30%;
}

#logo_navalgroup{
    width: 60%;
    height: 60%;
}

#logo_iut {
    width: 40%;
    height: 40%;
}

#logo_licence{
    width: 60%;
    height: 60%;
}

#logoRegalade {
    width: 30%;
    height: 30%;
}

#ndi{
    width: 80%;
    height: 80%;
}

#android {
    width: 65%;
}

section {
    padding-top: 10px;
}

.link{
    text-decoration: underline;
}

.app{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #9c9c9c;
    width: 70%;
    border-radius: 15px;
}

.download{
    background-color: #01875f;
    border-radius: 10px;
    width: 10%;
    height: 90%;
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: -75px;
    margin-left:999999px;
}
.download a{
    font-size: 11px;
    text-align: center;
    display: inline-block;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_app{
    width:100%;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.logo_call{
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.logo_todo{
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.row_app {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
}

.row_app img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.row_app h3 {
    display: inline-block;
    margin: 0 0 0 10px;
}

.row_app p{
    margin-left: 5px;
    margin-right: 5px;
}

.tools-grid {
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    width: 80%;
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;
    transition: transform 0.25s ease-in;
    z-index: 1;
    grid-template-columns: repeat(3, 2fr);
    gap: 100px;

}


.tools-grid :hover {
    transform: scale(1.1);
    transition: transform 0.25s ease-out;
}

.image-container {
    position: relative;
    display: inline-block;
}

.texte {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.image-container:hover .texte {
    bottom: -40px;
    opacity: 1;
}

.image-container:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.img-competences{
    max-width: 100px;
    max-height: 100px;
}

#logo_java{
    width: 200%;
    height: 200%;
}


#logo_sqlite{
    width: 200%;
    height: 200%;
}

#logo_oraclesql{
    width: 200%;
    height: 200%;
}

#logo_mongodb{
    width: 200%;
    height: 200%;
}

