@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F0F0F0;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navHeader {
    flex: 1;
    text-align: right;
}

.navHeader ul {
    display: inline-block;
    list-style-type: none;
}

.navHeader ul li {
    display: inline-block;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.name h1 {
    display: inline-block;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

p {
    color: black;
}

.container {
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.separator {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;

    /* Used to set the position of text */
    position: relative;
}

.separator__content {
    background: #FFDB15;

    /* Displayed at the center of separator */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: 5px;

    padding: 0 0.25rem;

    width: 60%;
}

.separator__separator {
    border-bottom: 1px solid #FFDB15;
    height: 1px;
    width: 100%;
}

.row {
    padding-top: 0rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 50px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 32px;
    margin: 25px 0;
    color: rgb(0, 0, 0);
}

.avatar {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
}

.avatar__image {
    /* Rounded border */
    border-radius: 50%;

    /* Size */
    height: 50%;
    width: 50%;
}


.text_info {
    font-size: 40px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

.text_para {
    margin-top: 2rem;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.btn {
    display: inline-block;
    background: rgb(0, 0, 0);
    outline: 2px solid #000000;
    color: white;
    padding: 22px 29px;
    margin: 30px 0;
    border-radius: 9px;
}

.btn:hover {
    background: #FFDB15;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.btn::after {
    content: "\2192";
    margin-left: 3px;
    transition: 0.3s;
}

.btn:hover::after {
    margin-left: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 40px;
    line-height: 32px;
}

.menu ul li a{
    transition: 0.5s;
}

.menu ul li a:hover {
    color: #FFDB15;

}

.projet {
    padding-top: 9rem;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
}

.projet h1{
    font-size: 30px;
    line-height: 32px;
    margin: 25px 0;
}

.separator__project {
    border-bottom: 1px solid #9d9b9b;
    height: 1px;
    width: 75%;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 15px;
}

.separator_language{
    border-bottom: 2px solid #FFDB15;
    height: 1px;
    width: 75%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

p{
    text-align: justify;
}

#logo_accrobrancherie{
    width: 30%;
    height: 30%;
}

#logo_iut {
    width: 40%;
    height: 40%;
}

section{
    padding-top: 10px;
}